/* Reset CSS */

* {
    padding:                    0;
    border:                     0;
    margin:                     0;
    box-sizing:                 border-box;
    list-style:                 none;
    text-decoration:            none;
}

html,
body {
    width:                      100vw;
    height:                     100vh;
    font-family:                'Fira Sans', sans-serif;
}